# compiled output
/out
/target

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.iml
eclipse-launch-profiles
.vscode

#System Files
*~
.DS_Store
Thumbs.db



Logs/

# 보안이슈
src/main/resources/profiles/local/application-local.yml
src/main/resources/k8s-config

# querydsl 자동생성방지
src/main/generated